@import '../../../../index.module.scss';

.NameContainer,
.Title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.NameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.FirstName {
  font-weight: 500;
  letter-spacing: 10px;
  font-size: calc(1vw + 20px);
}

.LastName {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 10px;
  font-size: calc(1vw + 20px);
}

.Title {
  display: flex;
  flex-direction: row;
  letter-spacing: 2.5px;
  // font-family: 'Caveat', cursive;
  font-family: 'Nothing You Could Do', cursive;
  font-size: calc(1vw + 10px);
}
