@import "../../../App.module.scss";

.LandingPage {
  display: flex;
  flex-direction: column;
  transition: $effects;
}

.LightMode {
  transition: $effects;
  height: 100vh;
  width: 100vw;
  background-color: $darkBlue;
}

.DarkMode {
  transition: $effects;
  height: 100vh;
  width: 100vw;
  background-color: $warmWhite;
}

.LandingIntro {
  margin-top: -250px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  transition: $effects;
}

.Titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 25px;
}

.DarkMode .Title {
  transition: $effects;
  color: $darkBlue;
}

.Selfie {
  object-fit: cover;
  height: 175px;
  width: 175px;
  box-shadow: $whiteShadow;
  border-radius: 100%;
  transition: $effects;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: brightness(0.8);
}

.DarkMode .Selfie {
  filter: brightness(1.1);
  transition: $effects;
  box-shadow: $blackShadow;
}
