@import '../../../../../index.module.scss';
.Form {
  display: flex;
  flex-direction: row;
  caret-color: $darkOrange;
  width: calc(35vw + 50px);
}

.FormTitle {
  display: flex;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size: calc(3vw + 10px);
}

.Labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(1vw + 10px);
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $warmWhite;
}

.Inputs input,
.Inputs textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
  background-image: linear-gradient(transparent, transparent);
  width: calc(34vw + 50px);
  font-size: calc(1vw + 5px);
  outline: none;
  background: transparent;
  border: none;
}

.DarkInputs input:-webkit-autofill,
.DarkInputs input:-webkit-autofill:hover,
.DarkInputs input:-webkit-autofill:focus,
.DarkInputs input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $darkBlue inset !important;
  box-shadow: 0 0 0 30px $darkBlue inset !important;
  -webkit-text-fill-color: $warmWhite !important;
}

.LightInputs input:-webkit-autofill,
.LightInputs input:-webkit-autofill:hover,
.LightInputs input:-webkit-autofill:focus,
.LightInputs input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $warmWhite inset !important;
  box-shadow: 0 0 0 30px $warmWhite inset !important;
  -webkit-text-fill-color: $darkBlue !important;
}

.Inputs input {
  margin: 5px;
  height: 30px;
  color: $warmWhite;
  border-bottom: 1px solid $darkOrange;
}

.Inputs textarea {
  display: inline-block;
  min-height: 100px;
  min-height: 150px;
  resize: vertical;
  color: $warmWhite;
  border-bottom: 1px solid $darkOrange;
}

.Name {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  transition: $effects;
}
.Name .NameLabel {
  font-size: calc(1.25vw + 5px);
  transition: $effects;
  margin-bottom: -30px;
}
.NameInput:focus {
  margin-top: 30px;
  outline: none;
  transition: $effects;
  border-bottom: 1px solid $warmWhite;
}

input:focus + label,
textarea:focus + label {
  color: $brightOrange;
  transform: scale(0.9);
}

input:valid + label,
textarea:valid + label {
  transform: scale(0.9);
  color: $darkOrange;
}

.NameInput:valid {
  outline: none;
  margin-top: 30px;
  border-bottom: 1px solid $brightOrange;
  transition: $effects;
}

.NameInput:focus:valid {
  border-bottom: 1px solid $brightOrange;
  transition: $effects;
}

.NameInput:invalid {
  outline: none;
  transition: $effects;
}

input:not(:placeholder-shown) {
  margin-top: 30px;
}

.NameInput:focus:invalid {
  /* border-bottom: 1px solid $darkBlue; */
  transition: $effects;
}

input:required:invalid,
textarea:required:invalid,
input:focus:invalid {
  /* insert your own styles for invalid form input */
  box-shadow: none;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Button input {
  font-family: 'Caveat', cursive;
  font-size: calc(2vw + 10px);
  background-color: transparent;
  color: $warmWhite;
  font-weight: 600;
  box-shadow: none;
  border: none;
  transition: $effects;
}

.Button input:hover {
  cursor: pointer;
  color: $brightOrange !important;
  transition: $effects;
}

@media screen and (max-width: 500px) {
  .Form {
    width: calc(50vw + 50px);
  }
  .FormTitle {
    font-size: calc(2vw + 20px);
  }
  .Inputs textarea,
  .Inputs input {
    width: calc(47vw + 50px);
    font-size: calc(2vw + 5px);
  }
  .Name .NameLabel {
    font-size: calc(1.5vw + 5px);
  }
  .Button input {
    font-size: calc(3vw + 5px);
  }
}
