@import '../../../../../index.module.scss';
.Form {
  display: flex;
  flex-direction: row;
  caret-color: $darkOrange;
}

.FormTitle {
  display: flex;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size: calc(3vw + 10px);
}

.Labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(1vw + 10px);
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $warmWhite;
}

.Inputs input {
  font-size: calc(1vw + 5px);
  margin: 5px;
  height: 30px;
  width: 350px;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid $darkOrange;
}

.Inputs textarea {
  display: inline-block;
  min-height: 100px;
  min-height: 150px;
  width: 350px;
  resize: vertical;
  background: transparent;
  border: none;
  font-size: calc(1vw + 5px);
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid $darkOrange;
}

.Name {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  transition: all 0.5s ease;
}
.Name .NameLabel {
  font-size: calc(1vw + 5px);
  transition: all 0.5s ease;
  margin-bottom: -30px;
}
.NameInput:focus {
  margin-top: 30px;
  outline: none;
  transition: all 0.5s ease;
  border-bottom: 1px solid $warmWhite;
}

input:focus + label,
textarea:focus + label {
  color: $brightOrange;
  transform: scale(0.9);
}

input:valid + label,
textarea:valid + label {
  transform: scale(0.9);
  color: $darkOrange;
}

.NameInput:valid {
  outline: none;
  margin-top: 30px;
  border-bottom: 1px solid $brightOrange;
  transition: all 0.5s ease;
}

.NameInput:focus:valid {
  border-bottom: 1px solid $brightOrange;
  transition: all 0.5s ease;
}

.NameInput:invalid {
  outline: none;
  transition: all 0.5s ease;
}

input:not(:placeholder-shown) {
  margin-top: 30px;
}

.NameInput:focus:invalid {
  /* border-bottom: 1px solid $darkBlue; */
  transition: all 0.5s ease;
}

input:required:invalid,
textarea:required:invalid,
input:focus:invalid {
  /* insert your own styles for invalid form input */
  box-shadow: none;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.Button input {
  font-family: 'Caveat', cursive;
  font-size: calc(1vw + 10px);
  background-color: transparent;
  color: $warmWhite;
  font-weight: 600;
  box-shadow: none;
  border: none;
  transition: all 0.5s ease;
}

.Button input:hover {
  cursor: pointer;
  color: $brightOrange !important;
  transition: all 0.5s ease;
}
