@import "../../../../App.module.scss";
$animate: all 0.2s ease-in-out;

.Link {
  color: $brightOrange;
  letter-spacing: 10px;
  font-size: 1rem;
  transition: $effects;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DarkMode .Link {
  color: $darkBlue;
  transition: $effects;
}
