@import '../../../../index.module.scss';
$animate: all 0.2s ease-in-out;

.Link {
  letter-spacing: 10px;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // font-family: 'Caveat', cursive;
  font-family: 'Nothing You Could Do', cursive;
}
