@import '../../../../index.module.scss';

.Image {
  transition: $effects;
}

.Selfie img {
  width: calc(10vw + 100px);
  height: calc(10vw + 100px);
  max-width: 200px;
  max-height: 200px;
  margin: 25px;
  // object-fit: cover;
  // border-radius: 100%;
  transition: $effects;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: brightness(0.8);
}

@media screen and (max-width: 500px) {
  .Selfie img {
    width: calc(20vw + 50px);
    height: calc(20vw + 50px);
  }
}
