@import '../../../../index.module.scss';

.Selfie img {
  width: calc(10vw + 100px);
  height: calc(10vw + 100px);
  //   max-width: calc(25vw - 50px);
  //   max-height: calc(25vw - 50px);
  margin: 25px;
  object-fit: cover;
  border-radius: 100%;
  transition: $effects;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: brightness(0.8);
}

@media screen and (max-width: 500px) {
  .Selfie img {
    width: calc(20vw + 50px);
    height: calc(20vw + 50px);
  }
}
