@import "../../../../App.module.scss";

.ProjectCards {
  display: flex;
  flex-direction: row;
  color: $darkBlue;
  font-family: "Caveat", cursive;
  text-align: center;
  &:hover video {
    filter: blur(0);
  }
}
.DarkMode .SmallLeft,
.DarkMode .ProjectCard1,
.DarkMode .ProjectCard2,
.DarkMode .ProjectCard3,
.DarkMode .SmallRight {
  background-color: $darkBlue;
  color: $warmWhite;
}

.LightMode .Title {
  background-color: $warmWhite;
  color: $darkBlue;
}

.SmallLeft {
  margin-top: -100px;
  margin-right: -150px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  transform: skewY(-7.5deg) rotateY(-25deg) scale(0.6);
  background-color: $warmWhite;
  box-shadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
    rgba(236, 236, 236, 0.1) 0px 16px 56px, rgba(34, 40, 49, 0.25) 0px 20px 25px,
    rgba(34, 40, 49, 0.25) 0px 16px 56px;
  transition: $effects;
  z-index: 30;
  border-left: solid $brightOrange 2px;
  border-top: solid $brightOrange 2px;
}

.SmallRight {
  margin-top: -100px;
  margin-left: -150px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  transform: skewY(7.5deg) rotateY(25deg) scale(0.6);
  background-color: $warmWhite;
  box-shadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
    rgba(236, 236, 236, 0.1) 0px 16px 56px, rgba(34, 40, 49, 0.25) 0px 20px 25px,
    rgba(34, 40, 49, 0.25) 0px 16px 56px;
  transition: $effects;
  z-index: 30;
  border-right: solid $brightOrange 3px;
  border-top: solid $brightOrange 2px;
}

.ProjectCard1 {
  margin-top: -50px;
  margin-right: -50px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  transform: skewY(-5deg) rotateY(-15deg) scale(0.8);
  background-color: $warmWhite;
  box-shadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
    rgba(236, 236, 236, 0.1) 0px 16px 56px, rgba(34, 40, 49, 0.25) 0px 20px 25px,
    rgba(34, 40, 49, 0.25) 0px 16px 56px;
  transition: $effects;
  z-index: 40;
  border-left: solid $brightOrange 2px;
  border-top: solid $brightOrange 3px;
}

.ProjectCard2 {
  margin-top: -5px;
  margin-right: -25px;
  margin-left: -25px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  transform: translateZ(200px);
  background-color: $warmWhite;
  box-shadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
    rgba(236, 236, 236, 0.1) 0px 16px 56px, rgba(34, 40, 49, 0.25) 0px 20px 25px,
    rgba(34, 40, 49, 0.25) 0px 16px 56px;
  transition: $effects;
  z-index: 50;
  border-top: solid $brightOrange 3px;
  border-left: solid $brightOrange 0px;
  border-right: solid $brightOrange 0px;
  position: relative;
}

.ProjectCard3 {
  margin-top: -50px;
  margin-left: -50px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  transform: skewY(5deg) rotateY(15deg) scale(0.8);
  background-color: $warmWhite;
  box-shadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
    rgba(236, 236, 236, 0.1) 0px 16px 56px, rgba(34, 40, 49, 0.25) 0px 20px 25px,
    rgba(34, 40, 49, 0.25) 0px 16px 56px;
  transition: $effects;
  z-index: 40;
  border-right: solid $brightOrange 2px;
  border-top: solid $brightOrange 3px;
}

.SmallLeft:hover {
  transform: skewY(-2.5deg) rotateY(0deg) scale(0.8);
  margin-left: 100px;
  margin-right: -25px;
  margin-top: -50px;
  border-left: solid $brightOrange 1px;
  border-top: solid $brightOrange 2px;
  transition: $effects;
}

.SmallRight:hover {
  transform: skewY(2.5deg) rotateY(0deg) scale(0.8);
  margin-right: 100px;
  margin-left: -25px;
  margin-top: -50px;
  border-right: solid $brightOrange 1px;
  border-top: solid $brightOrange 2px;
  transition: $effects;
}

.ProjectCard1:hover {
  transform: skewY(-2.5deg) rotateY(0deg) scale(0.9);
  margin-right: 50px;
  margin-top: -50px;
  border-left: solid $brightOrange 1px;
  border-top: solid $brightOrange 2px;
  transition: $effects;
}

.ProjectCard2:hover {
  transform: skewY(0deg) rotateY(0deg);
  margin-left: 45px;
  margin-right: 45px;
  margin-top: -50px;
  border-top: solid $brightOrange 2px;
  transition: $effects;
}

.ProjectCard3:hover {
  transform: skewY(2.5deg) rotateY(0deg) scale(0.9);
  margin-left: 50px;
  margin-top: -50px;
  border-right: solid $brightOrange 1px;
  border-top: solid $brightOrange 2px;
  transition: $effects;
}

.PlayButton {
  position: absolute;
  top: calc(20% - 25px);
  left: calc(50% - 25px);
  z-index: 20;
  transition: $effects;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 100%;
  transition: $effects;
  filter: blur(1px);
  z-index: 10;
}
.VideoPart:hover .PlayButton {
  opacity: 0;
  transform: scale(0);
  transition: $effects;
}

.TextContainer {
  width: 100%;
  z-index: 25;
  transition: $effects;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProjectTitle {
  position: absolute;
  top: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkBlue;
  color: $brightOrange;
  transition: $effects;
  width: 100%;
}

.DarkMode .ProjectTitle {
  background-color: $warmWhite;
  color: $darkBlue;
  transition: $effects;
}

.Description {
  position: absolute;
  transition: $effects;
  top: 70%;
  color: $darkBlue;
}

.DarkMode .Description {
  color: $brightOrange;
  transition: $effects;
}
