@import "../../App.module.scss";

.Toggle {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.Landing div {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Projects div {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
