@import '../../index.module.scss';

.LightMode {
  transition: $effects;
  background-color: $darkBlue;
  color: $darkBlue;
}

.DarkMode {
  transition: $effects;
  background-color: $warmWhite;
  color: $warmWhite;
}

.Main {
  width: 100vw;
  height: 100vh;
}

// .Toggle {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   justify-content: flex-end;
// }

// .Landing div {
//   display: flex;
//   justify-content: center;
//   align-self: center;
// }

// .Projects div {
//   display: flex;
//   justify-content: center;
//   align-self: flex-start;
// }
