$darkBlue: rgb(18, 19, 20);
$brightBlue: rgb(29, 43, 56);

$brightOrange: rgb(242, 163, 101);
$darkOrange: rgb(158, 77, 13);

$warmWhite: rgb(236, 236, 236);

$effects: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);

$border: 1px solid red;

$whiteShadow: rgba(236, 236, 236, 0.1) 0px 20px 25px,
  rgba(236, 236, 236, 0.1) 0px 16px 56px;

$blackShadow: rgba(34, 40, 49, 0.25) 0px 20px 25px,
  rgba(34, 40, 49, 0.25) 0px 16px 56px;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}
