@import '../../../../index.module.scss';

$duration: 0.1s;

a {
  outline: none;
}

.Social {
  display: flex;
  flex-direction: row;
  // transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

// .linkedin path,
// .mail path,
// .github path,
// .twitter path {
//   transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
// }

// .linkedin:hover path,
// .mail:hover path,
// .github:hover path,
// .twitter:hover path {
//   fill: $brightOrange;
//   transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
// }

.LinkedIn:hover svg,
.Mail:hover svg,
.GitHub:hover svg,
.Profile:hover svg {
  transform: scale(1.05);
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}
.LinkedIn:hover svg path,
.Mail:hover svg path,
.GitHub:hover svg path,
.Profile:hover svg path {
  fill: $brightOrange;
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

// .DarkMode .Social svg path {
//   fill: $warmWhite;
//   filter: drop-shadow(0px 3px 3px rgba(236, 236, 236, 0.2));
//   transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
// }

// .DarkMode .Social svg:hover path {
//   fill: $brightOrange;
//   transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
// }
.Profile,
.Mail,
.GitHub,
.LinkedIn {
  margin: 5px 10px 5px 0px;
}

.Profile svg,
.Mail svg,
.GitHub svg,
.LinkedIn svg {
  margin: 2px;
  width: calc(2vw + 10px);
  height: calc(2vh + 10px);
}

@media screen and (max-width: 500px) {
  .Profile svg,
  .Mail svg,
  .GitHub svg,
  .LinkedIn svg {
    margin: 2px;
    width: calc(3vw + 15px);
    height: calc(3vh + 15px);
  }
}

// .Profile svg path,
// .Mail svg path,
// .GitHub svg path,
// .LinkedIn svg path {
//   // filter: drop-shadow(0px 3px 3px rgba(34, 40, 49, 0.5));
// }
