@import "../../../../App.module.scss";

$duration: 0.1s;

a {
  outline: none;
}

.Social {
  display: flex;
  flex-direction: row;
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

.Social svg path {
  filter: drop-shadow(0px 3px 3px rgba(34, 40, 49, 0.5));
}

.linkedin path,
.mail path,
.github path,
.twitter path {
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

.linkedin:hover path,
.mail:hover path,
.github:hover path,
.twitter:hover path {
  fill: $brightOrange;
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

.linkedin:hover svg,
.mail:hover svg,
.github:hover svg,
.twitter:hover svg {
  transform: scale(1.1);
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

.DarkMode .Social svg path {
  fill: $warmWhite;
  filter: drop-shadow(0px 3px 3px rgba(236, 236, 236, 0.2));
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}

.DarkMode .Social svg:hover path {
  fill: $brightOrange;
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1);
}
